<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyBrowserApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9DDBE1F1DA0EEC50040DE3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9DDBE331DA0EEC50040DE3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9DDBE3E1DA0EEC50040DE3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
